<!DOCTYPE html><html>
<head>
    <link rel="stylesheet" href="/static/account.css">
    <title>FRANZAR&trade; Official Site | Account</title>
    <% Head %>
</head>
<body>
<script>wlhrf=window.location.href;whrswlh=wlhrf.substring(0, wlhrf.indexOf("?"));window.history.replaceState(null,null,whrswlh);</script>
<div id="M_H"><button onclick="M_menu_show()"></button></div>
<ul id="Hm">
    <% HeaderLI %>
</ul>
<form id="ACM" action="" method="POST">
    <h1>My Account</h1>
    <div id="ACa" class="AC_block">
        <h2>Orders</h2>
        <div id="ACAL">
            <table>
                <tr>
                    <th>Order ID</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>893475</td>
                    <td>EXAMPLE - Polyester Shirt</td>
                    <td>$18.00</td>
                    <td>Delivered</td>
                </tr>
            </table>
        </div>
    </div>
</form>
<% Footer %>
</body></html>
