  
<!DOCTYPE html><html>
<head>
    <link rel="stylesheet" href="/static/legal.css">
    <title>FRANZAR&trade; Official Site | Accessibility</title>
    <% Head %>
</head>
<body>
<script>wlhrf=window.location.href;whrswlh=wlhrf.substring(0, wlhrf.indexOf("?"));window.history.replaceState(null,null,whrswlh);</script>
<div id="M_H"><button onclick="M_menu_show()"></button></div>
<ul id="Hm">
    <% HeaderLI %>
</ul>
<div id="AC">
    <h3>Accessibility</h3>
    <p>Franzar is committed to equality and inclusion and providing services which are accessible to everyone. We are commited to ensuring respect, dignity, and independence for people with disabilities. Typical barriers experienced by disabled people may include physical, communicative, technological, and systemic.</p>
  <h3>Americans with Disabilities Act</h3>
  <p>In order to ensure ease of use for disabled individuals, the Americans with Disabilities Act (ADA) was passed in the United States in 1990. This act obligates organizations to create an environment where disabled people are not pushed out or demeaned and requires organizations to make certain changes within reason to ensure that disabled individuals have equal rights and opportunities.</p>
</div>
<% Footer %>
<script>
Foot=document.getElementById("Foot");
xAC=document.getElementById("AC");
if (xAC.offsetHeight<=460){Foot.style.top="600px";}else{Foot.style.top=(Number(xAC.offsetHeight)+140)+"px";}
</script>
</body></html>
