<!DOCTYPE html><html>
<head>
    <link rel="stylesheet" href="/static/legal.css">
    <title>FRANZAR&trade; Official Site | Terms and Conditions</title>
    <% Head %>
</head>
<body>
<script>wlhrf=window.location.href;whrswlh=wlhrf.substring(0, wlhrf.indexOf("?"));window.history.replaceState(null,null,whrswlh);</script>
<div id="M_H"><button onclick="M_menu_show()"></button></div>
<ul id="Hm">
    <% HeaderLI %>
</ul>
<div id="VC">
    <h1>Privacy Policy</h1>
    <h3>Last Updated 26 April 2020</h3>
    <hr>
    <p>
    This Privacy Policy outlines what personal information is collected or processed when you use this website or interact with any of our products or services. This will also explain how we use, store, distribute, and safeguard your private information to keep it safe.
    <h3>What Personal Information Is Collected?</h3>
    Franzar takes the protection of your personal information seriously. When you interact with any of our products or services, you grant us access to certain information necessary to perform certain tasks and to provide an easy and comfortable experience. You may grant us this information through various means such as browsing our website, creating an account, or purchasing our products.
Information that we may collect includes but is not limited to:
    <ul>
        <li>Contact details including names, emails, phone numbers, and addresses</li>
        <li>Login information such as passwords and user IDs</li>
        <li>Login history including but not limited to information about your device, browser, and ip address</li>
        <li>Activity data such as browsing history and habits</li>
        <li>Time stamps for certain activities and time zone information</li>
        <li>Location information</li>
        <li>Personal details including bodily measurements (such as height), weight, gender, age, and purchase history</li>
        <li>Payment information such as debit and credit cards</li>
        <li>Images, photos, videos, and other files you upload to our website</li>
        <li>Personal preferences and marketable information</li>
    </ul>
    We may collect additional information to provide certain services and ensure ease of use. Much of the information that we collect is to protect your account from attacks and safeguard your private information. When interacting with our products and services, certain data is automatically collected, such as your device, browser, and ip address. 
    <h3>How Can I Manage What Information Is Collected?</h3>
    We provide certain tools and notices to our users to obtain consent for certain practices. We can get consent in various ways, generally through standard permissions available via your device or browser. Your browser and device have specific tools which will allow you to control much of the data that we collect. For example, your browser will allow you to turn off cookies for just this website or for all websites. We highly suggest that you enable cookies on our website, as most of the services we offer require cookies to function.
    <h3>How Do You Use My Information?</h3>
    We use your information for a variety of products and services, including but not limited to:
    <ul>
        <li>Providing certain features (signing in, online purchases, updating information, etcetera)</li>
        <li>Marketing to you, other customers, past customers, and potential customers</li>
        <li>Researching demographic information and analysing user activities and interests</li>
        <li>To operate, innovate, improve, test, and maintain our products and services</li>
        <li>To protect the rights and personal information of yourself, ourselves, and others</li>
        <li>Other relevant applications</li>
    </ul>
    <h3>How Do You Distribute My Information?</h3>
    We may share your information with third parties which may include but are not limited to:
    <ul>
        <li>Internet Service Providers ("ISP")</li>
        <li>Hosting Providers</li>
        <li>Franzar entities for the purposes previously mentioned</li>
        <li>Government entities on request</li>
        <li>Third parties in order to comply with certain laws and court orders</li>
        <li>Other third parties to which you have given your consent</li>
    </ul>
    We may also share some or all of your personal information in the event that we are sold to another entity or we liquidate some or all of our assets.
    <h3>How Do You Keep My Information Safe?</h3>
    We take various measures to ensure that your information is kept safe. We may encrypt, hash, or use other means necessary to keep your personal information safe. Despite our efforts, no website is impenetrable or "hacker-proof". You can take certain measures to ensure that your information is kept secure by not sharing your personal information such as passwords, emails, and order IDs. This will protect your account from unauthorized access and misuse.
    <h3>What Else Should I Know About How My Information Is Stored?</h3>
    Here are some other facts you should note:
    <ul>
        <li>We will keep your information indefinitely, unless you delete your account, we choose to delete or alter some or all of your information, or we are otherwise required by law to take some action on your personal information.</li>
        <li>You may have the right to request certain information which we have collected on you. To view what information is made available to you, please <a href="/account/data/">click here</a>.</li>
        <li>Please note that by deleting or altering certain information on our website, this may not have the same or any effect on any third parties who are entitled to access this information. We do not take responsibility for the action or inaction of third party entities except where required by applicable law.</li>
        <li>You may request the removal of content which you have generated (such as reviews, submissions, and uploads). As previously stated, we do not guarantee that the removal or alteration of any information granted to us will have the same effect on third parties who may hold that information.</li>
        <li>We may send you notifications through many means including but not limited to push notifications, email, Short Message Service ("SMS"), or Multimedia Message Service ("MMS").</li>
    <h3>Cookies and Pixel Tags</h3>
    We use a variety of methods to collect information through our products and services such as cookies and pixel tags. Other third parties such as marketing entities may also collect personal information when you use our products and services. We use these cookies and pixel tags to understand, track, and study the habits, preferences, and actions of our users and customers and to provide a comfortable experience when using our products and services. These cookies and pixel tags are not always necessary to use our website and may be used for the purposes of marketing and demographic studies. As previously mentioned, you can manage our access to cookies through your browser.
    <h3>"Do Not Track" Signals</h3>
    Some browsers have a feature which will signal websites that the user who is visiting does not want to be tracked ("'Do Not Track' Signal"). It is optional for websites to respond to this signal. We do not currently respond to this signal.
    <h3>Third Parties</h3>
    Our website may allow you to sign in or connect your account to a third party entity. If you choose to do so, your use of their products and services within our products and services is subject to their terms and policies. We will not be held responsible for any actions taken or the use of your personal information by third parties to the extent allowed by law.
    <h3>Minors</h3>
    We do not knowingly collect personal information from minors who are under the age of 13.
    <h3>Changes To This Privacy Policy</h3>
    Laws change over time and so do our practices. We may update this privacy policy in the future to keep it relevant and accurate. In the event that a change is made to our privacy policy, we will not give you prior or former notice unless required by law. We strongly encourage you to read and understand our privacy policy and to check it for changes from time to time so you are informed on our practices. Every time we update our privacy policy, the change will be shown at the top of this document where it says "Last Updated", followed by the date of the last update.
    <h3>Questions</h3>
    If you have any questions, comments, or feedback, please <a href="/contact/">click here</a>. We will do our best to respond in a timely manner.
    </p>
</div>
<% Footer %>
<script>
Foot=document.getElementById("Foot");
xTC=document.getElementById("TC");
if (xTC.offsetHeight<=560){Foot.style.top="700px";}else{Foot.style.top=(Number(xTC.offsetHeight)+140)+"px";}
</script>
</body></html>
