<!DOCTYPE html><html>
<head>
    <link rel="stylesheet" href="/static/about.css">
    <title>FRANZAR&trade; Official Site | About Us</title>
    <% Head %>
</head>
<body>
<script>wlhrf=window.location.href;whrswlh=wlhrf.substring(0, wlhrf.indexOf("?"));window.history.replaceState(null,null,whrswlh);</script>
<div id="M_H"><button onclick="M_menu_show()"></button></div>
<ul id="Hm">
    <% HeaderLI %>
</ul>
<header id="Hdr">
    <h1>ABOUT US</h1>
</header>
<div id="AUm">
    <h2>OUR MISSION</h2>
    <p>
        Our mission is simple. We want to bring high quality, custom fit apparel to the average person. No longer will average people have to wear ill-fitting clothes that are designed to fit people of any shape and size. Our clothes are crafted to fit your measurements precisely, meaning no two products we produce will ever be exactly the same. Through the whole production process, we have your needs in mind.
        <br>
        <center>If you have any further questions about what we do, please <a href="/contact/">Contact Us</a>.</center>
    </p>
</div>
<% Footer %>
</body></html>
