<% CookieNotif %>
<script>
Hm=document.getElementById("Hm");
function M_menu_show(){Hm.style.display="block";}
function M_menu_hide(){Hm.style.display="none";}
</script>
<footer id="Foot">
    <table id="Ft"><tbody>
        <tr><th>About</th><th>Legal</th></tr>
        <tr><td><a href="/about_us/">About Us</a></td><td><a href="/legal/terms_and_conditions/">Terms & Conditions</a></td></tr>
        <tr><td><a href="/delivieries_and_returns/">Delivery & Returns</a></td><td><a href="/legal/privacy_policy/">Privacy Policy</a></td></tr>
        <tr><td><a href="/payments/">Payments</a></td><td><a href="/legal/cookie_policy/">Cookie Policy</a></td></tr>
        <tr><td><a href="/accessibility/">Accessibility</a></td><td><a href="/report_a_counterfeit/">Report a Counterfeit</a></td></tr>
        <tr><td><a href="/contact/">Contact</a></td><td><a href="/legal/warranty/">Warranty</a></td></tr>
        <tr><!--<td><a href="/faq/">FAQ</a></td><td><a href="/legal/trademarks/">Trademarks</a></td>--></tr>
        <tr><!--<td><a href="/sustainability/">Sustainability</a></td>--></tr>
        <tr><!--<td><a href="/careers/">Careers</a></td>--></tr>
    </tbody></table>
    <hr>
    <p id="FPu">
        <select id="FL" onchange="F_CLn()">
            <% LanguageOptions %>
        </select><span class="DDoA" id="FLo"></span>
        <select id="Fn" onchange="F_CLn()">
            <% NationOptions %>
        </select><span class="DDoA" id="FNo"></span>
        <u id="FPUc">&copy; 2020 Harrison Sienkiewicz</u>
    </p>
</footer>
<script>
FLi=document.getElementById("FL");
Fn=document.getElementById("Fn");
function F_CLn(){
    var xhttp=new XMLHttpRequest();
    xhttp.onreadystatechange=function() {
        if (this.readyState==4 && this.status==200) {
            if (this.responseText=="A"){location.reload();}
        }
    };
    xhttp.open("POST", "/account/locales/", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("nt="+Fn.value+"&lg="+FLi.value);
}
</script>
