<!DOCTYPE html><html>
<head>
    <link rel="stylesheet" href="/static/register.css">
    <title>FRANZAR&trade; Official Site | Reset Password</title>
    <% Head %>
</head>
<body>
<script>wlhrf=window.location.href;whrswlh=wlhrf.substring(0, wlhrf.indexOf("?"));window.history.replaceState(null,null,whrswlh);</script>
<div id="M_H"><button onclick="M_menu_show()"></button></div>
<ul id="Hm">
    <% HeaderLI %>
</ul>
<div class="ser" id="rper"><% ErrorMsg %></div>
<div id="rg_block" hg="rp">
    <h1>Reset Password</h1>
    <form action="" method="POST" id="rp_form">
        <input type="password" placeholder="New Password" name="rppw" id="rppw">
        <input type="password" placeholder="Retype New Password" name="rppa" id="rppa">
        <input type="submit" value="RESET PASSWORD" class="rgsb">
    </form>
</div>
<script>
Hm=document.getElementById("Hm");
si_form=document.getElementById("si_form");
sier=document.getElementById("sier");
siem=document.getElementById("siem");
sipw=document.getElementById("sipw");
function valEm(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
}
function sb_si(){
    if (valEm(siem.value) && sipw.value.length>=8){
        sier.style.display="none";
        si_form.submit();
    }else{sier.style.display="block";}
    if (!valEm(siem.value)){
        sier.innerHTML="Please enter a valid Email";
    }else if (sipw.value.length<8){
        sier.innerHTML="Password must be 8 characters or more";
    }
}
function M_menu_show(){Hm.style.display="block";}
function M_menu_hide(){Hm.style.display="none";}
</script>
<style>#sier{display:<% ShowError %>}</style>
<% Footer %>
</body></html>
