<!DOCTYPE html><html>
<head>
    <link rel="stylesheet" href="/static/register.css">
    <title>FRANZAR&trade; Official Site | Reset Password</title>
    <% Head %>
</head>
<body>
<script>wlhrf=window.location.href;whrswlh=wlhrf.substring(0, wlhrf.indexOf("?"));window.history.replaceState(null,null,whrswlh);</script>
<div id="M_H"><button onclick="M_menu_show()"></button></div>
<ul id="Hm">
    <% HeaderLI %>
</ul>
<div class="ser" id="rper"><% ErrorMsg %></div>
<div id="rg_block" hg="rp">
    <h1>Reset Password</h1>
    <b><% Email %></b>
    <form action="" method="POST" id="rp_form">
        <input type="password" placeholder="New Password" name="rppw" id="rppw">
        <input type="password" placeholder="Retype New Password" name="rppa" id="rppa">
    </form>
    <button class="rgsb" onclick="sb_rp()">RESET PASSWORD</button>
</div>
<script>
Hm=document.getElementById("Hm");
rp_form=document.getElementById("rp_form");
rper=document.getElementById("rper");
rppw=document.getElementById("rppw");
rppa=document.getElementById("rppa");
function sb_rp(){
    if (rppw.value == rppa.value){
        rper.style.display="none";
        rp_form.submit();
    }else{
        rper.innerHTML="Your passwords must match";
        rper.style.display="block";
    }
}
function M_menu_show(){Hm.style.display="block";}
function M_menu_hide(){Hm.style.display="none";}
</script>
<style>#rper{display:<% ShowError %>}</style>
<% Footer %>
</body></html>
