<!DOCTYPE html><html>
<head>
    <link rel="stylesheet" href="/static/register.css">
    <title>FRANZAR&trade; Official Site | Sign In</title>
    <% Head %>
</head>
<body>
<script>wlhrf=window.location.href;whrswlh=wlhrf.substring(0, wlhrf.indexOf("?"));window.history.replaceState(null,null,whrswlh);</script>
<div id="M_H"><button onclick="M_menu_show()"></button></div>
<ul id="Hm">
    <% HeaderLI %>
</ul>
<div class="ser" id="sier"><% ErrorMsg %></div>
<div id="rg_block" hg="i">
    <a class="sign_x" id="sign_x_in" s="y">Sign In</a>
    <a class="sign_x" id="sign_x_up" s="n" href="/sign_up/">Sign Up</a>
    <form action="" method="POST" id="si_form">
        <input type="email" placeholder="Email" spellcheck="false" name="siem" id="siem">
        <input type="password" placeholder="Password" name="sipw" id="sipw">
        <a href="/sign_in/forgot_password/" id="sifp">Forgot Password?</a>
    </form>
    <button class="rgsb" onclick="sb_si()">SIGN IN</button>
</div>
<script>
Hm=document.getElementById("Hm");
si_form=document.getElementById("si_form");
sier=document.getElementById("sier");
siem=document.getElementById("siem");
sipw=document.getElementById("sipw");
function valEm(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
}
function sb_si(){
    if (valEm(siem.value) && sipw.value.length>=8){
        sier.style.display="none";
        si_form.submit();
    }else{sier.style.display="block";}
    if (!valEm(siem.value)){
        sier.innerHTML="Please enter a valid Email";
    }else if (sipw.value.length<8){
        sier.innerHTML="Password must be 8 characters or more";
    }
}
function M_menu_show(){Hm.style.display="block";}
function M_menu_hide(){Hm.style.display="none";}
</script>
<style>#sier{display:<% ShowError %>}</style>
<% Footer %>
</body></html>
