<!DOCTYPE html><html>
<head>
    <link rel="stylesheet" href="/static/product.css">
    <title>FRANZAR&trade; Official Site | <% ProductName %></title>
    <% Head %>
</head>
<body>
<script>wlhrf=window.location.href;whrswlh=wlhrf.substring(0, wlhrf.indexOf("?"));window.history.replaceState(null,null,whrswlh);</script>
<div id="M_H"><button onclick="M_menu_show()"></button></div>
<ul id="Hm">
    <% HeaderLI %>
</ul>
<div id="Bp" style="background-image:url('<% ProductImgLink %>');"></div>
<ul id="BPs">
    <% FullImageList %>
</ul>
<div id="Bi">
    <h1 id="BIn"><% ProductName %></h1>
    <!--<h6 id="BIr"><span class="r_star_s" r="<% Rating %>"></span> <u><% ReviewCount %> Reviews</u></h6>-->
    <% ProductPrice %>
    <div id="BIc">
        <div id="BIi">
            <h3>Description:</h3>
            <% ProductDescription %>
            <h3>Contents:</h3>
            <% ProductContents %>
            <h3>Care Instructions:</h3>
            <% ProductCare %>
        </div>
        <div id="BIt"><% ProductColourOptions %></div>
        <button id="BIo">Add to Cart</button>
    </div>
</div>
<% Footer %>
</body></html>
