<!DOCTYPE html><html>
<head>
    <link rel="stylesheet" href="/static/status.css">
    <title>FRANZAR&trade; Official Site | En Construction</title>
    <% Head %>
</head>
<body>
<script>wlhrf=window.location.href;whrswlh=wlhrf.substring(0, wlhrf.indexOf("?"));window.history.replaceState(null,null,whrswlh);</script>
<div id="M_H"><button onclick="M_menu_show()"></button></div>
<ul id="Hm">
    <% HeaderLI %>
</ul>
<div id="E404">
    <h1>PARDON</h1>
    <h3>Cette page est encore en construction.</h3>
</div>
<% Footer %>
</body></html>
