<!DOCTYPE html><html>
<head>
    <link rel="stylesheet" href="/static/register.css">
    <title>FRANZAR&trade; Official Site | Sign Up</title>
    <% Head %>
</head>
<body>
<div id="M_H"><button onclick="M_menu_show()"></button></div>
<ul id="Hm">
    <% HeaderLI %>
</ul>
<div class="ser" id="suer"></div>
<div id="rg_block" hg="uv">
    <h5 id="suv_h">You're almost there! We sent an email to <b><% Email %></b>.<br><br>If you don't see it, be sure to check your spam folder.<br><br>It may take up to 5 minutes to send.<br><br>Still can't find it?<br></h5>
    <form action="" method="POST"><input type="hidden" name="rsve" value="<% Email %>"><input type="submit" value="Resend Email" class="rgsb"></form>
</div>
<script>
Hm=document.getElementById("Hm");
su_form=document.getElementById("su_form");
suer=document.getElementById("suer");
suem=document.getElementById("suem");
supw=document.getElementById("supw");
supa=document.getElementById("supa");
function M_menu_show(){Hm.style.display="block";}
function M_menu_hide(){Hm.style.display="none";}
function valEm(email) {
    var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
}
function sb_su(){
    if (valEm(suem.value) && supw.value.length>=8 && supw.value==supa.value){
        suer.style.display="none";
        su_form.submit();
    }else{suer.style.display="block";}
    if (!valEm(suem.value)){
        suer.innerHTML="Please enter a valid Email";
    }else if (supw.value.length<8){
        suer.innerHTML="Password must be 8 characters or more";
    }else if (supw.value!=supa.value){
        suer.innerHTML="Passwords must match";
    }
}
</script>
<% Footer %>
</body></html>
