<!DOCTYPE html><html>
<head>
    <link rel="stylesheet" href="/static/register.css">
    <title>FRANZAR&trade; Official Site | Sign Up</title>
    <% Head %>
</head>
<body>
<div id="M_H"><button onclick="M_menu_show()"></button></div>
<ul id="Hm">
    <% HeaderLI %>
</ul>
<div class="ser" id="suer"></div>
<div id="rg_block" hg="uv">
    <h5 id="suv_h">You're almost there! We sent an email to <b><% Email %></b>.<br><br>If you don't see it, be sure to check your spam folder.<br><br>It may take up to 5 minutes to send.<br><br>Still can't find it?<br></h5>
    <form action="" method="POST"><input type="hidden" name="rsve" value="<% Email %>"><input type="submit" value="Resend Email" class="rgsb"></form>
</div>
<script>
Hm=document.getElementById("Hm");
function M_menu_show(){Hm.style.display="block";}
function M_menu_hide(){Hm.style.display="none";}
</script>
<% Footer %>
</body></html>
