<!DOCTYPE html><html>
<head>
    <link rel="stylesheet" href="/static/account.css">
    <title>FRANZAR&trade; Official Site | Cart</title>
    <% Head %>
</head>
<body>
<script>wlhrf=window.location.href;whrswlh=wlhrf.substring(0, wlhrf.indexOf("?"));window.history.replaceState(null,null,whrswlh);</script>
<div id="M_H"><button onclick="M_menu_show()"></button></div>
<ul id="Hm">
    <% HeaderLI %>
</ul>
<div id="Cm">
    <h3 id=\"CIEx\">There are no items in your cart.</h3>
    <% Cart %>
</div>
<% Footer %>
<style>#Foot{top:<% FootTop %>px;}#CIEx{display:<% ShowEmptyCartMsg %>;}</style>
<script>
HMCi=document.getElementById("HMCi");
Cm=document.getElementById("Cm");
/*function AdjOq(){if (Number(BIOq.value)>10){BIOq.value="10";}else if (Number(BIOq.value)<1){BIOq.value="1";}}*/
function RMp(pid){
    var xhttp=new XMLHttpRequest();
    xhttp.onreadystatechange=function() {
        if (this.readyState==4 && this.status==200) {
            if (this.responseText=="A"){
                ElmID="CIt_"+pid;
                HMCi.innerText=Math.floor(Number(HMCi.innerText)-Number(document.getElementById(ElmID).getElementsByClassName("CIq")[0].value));
                document.getElementById(ElmID).style.display="none";
                for (i in Cm.getElementsByClassName("CIt").length){
                    Cm.getElementsByClassName("CIt")[i].style.background="red";
                }
            }else if (this.responseText=="E_B"){
                window.open("/sign_in/","_self");
            }else{
                alert("Something went wrong: "+this.responseText);
            }
        }
    };
    xhttp.open("POST", "/remove_from_cart/", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("id="+pid);
}
</script>
</body></html>
