<!DOCTYPE html><html>
<head>
    <link rel="stylesheet" href="/static/account.css">
    <title>FRANZAR&trade; Official Site | Account</title>
    <% Head %>
</head>
<body>
<script>wlhrf=window.location.href;whrswlh=wlhrf.substring(0, wlhrf.indexOf("?"));window.history.replaceState(null,null,whrswlh);</script>
<div id="M_H"><button onclick="M_menu_show()"></button></div>
<ul id="Hm">
    <% HeaderLI %>
</ul>
<h1 id="ACMt">My Account</h1>
<ul id="ACM">
    <li><a href="/account/payment/">Payment Methods</a></li>
    <li><a href="/account/measurements/">Measurements</a></li>
    <li><a href="/account/addresses/">Addresses</a></li>
    <li><a href="/reset_password/">Change Password</a></li>
    <li><a href="/account/orders/">Orders</a></li>
    <li><a onclick="USo()">Sign Out</a></li>
</ul>
<div id="ACF">
    <a href="/account/data/">My Data</a>
    <a href="/account/close/">Close Account</a>
</div>
<script>
function USo(){
    /* ----- */
}
</script>
<% Footer %>
</body></html>
