<!DOCTYPE html><html>
<head>
    <link rel="stylesheet" href="/static/contact.css">
    <title>FRANZAR&trade; Official Site | Contact</title>
    <% Head %>
</head>
<body>
<div id="M_H"><button onclick="M_menu_show()"></button></div>
<ul id="Hm">
    <% HeaderLI %>
</ul>
<div id="cti">Thank you for your message. We will respond as soon as we can.</div>
<script>
Hm=document.getElementById("Hm");
function M_menu_show(){Hm.style.display="block";}
function M_menu_hide(){Hm.style.display="none";}
</script>
<% Footer %>
</body></html>
