<!DOCTYPE html><html>
<head>
    <link rel="stylesheet" href="/static/contact.css">
    <title>FRANZAR&trade; Official Site | Contact</title>
    <% Head %>
</head>
<body>
<div id="M_H"><button onclick="M_menu_show()"></button></div>
<header id="Hdr"></header>
<ul id="Hm">
    <% HeaderLI %>
</ul>
<form id="Cfm">
    <input type="text" id="CFn" placeholder="Full Name">
    <input type="email" id="CFe" placeholder="Email">
    <input type="text" id="CFo" placeholder="Order ID (optional)">
    <textarea id="CFt" data-gramm_editor="false" placeholder="Message"></textarea>
</form>
<button id="CFs" onclick="sb_cf()">SUBMIT</button>
<% Footer %>
<script>
Hm=document.getElementById("Hm");
function M_menu_show(){Hm.style.display="block";}
function M_menu_hide(){Hm.style.display="none";}
</script>
</body></html>
