body{overflow-x:hidden;}
#Hm{background:#04151F;}
#ACM{width:100%;height:2000px;background:#FAFAFF;position:absolute;top:100px;left:0;}
#ACM h1{width:100%;font-size:60px;font-weight:300;text-align:center;margin:0;position:absolute;top:40px;left:0;}
.AC_block{background:white;border:1px solid #E7E7E7;box-sizing:border-box;position:absolute;}
.AC_block h2{width:100%;font-size:36px;font-weight:300;margin:0;position:absolute;top:15px;left:20px;}

#ACa{width:calc(50% - 60px);height:560px;position:absolute;top:150px;left:30px;}
#ACAHM{color:#D7263D;font-size:16px;margin:0;position:absolute;top:20px;right:20px;}
.ACAH{color:#D7263D;position:absolute;}
#ACAHn{top:80px;right:50px;}
#ACa input{position:absolute;}
#ACAn{width:calc(100% - 40px);top:80px;left:20px;}
#ACAs{width:calc(100% - 40px);top:160px;left:20px;}
#ACAb{width:calc(100% - 40px);top:240px;left:20px;}
#ACAc{width:calc(50% - 30px);top:320px;left:20px;}
#ACAz{width:calc(50% - 30px);top:320px;left:calc(50% + 10px);}
#ACAr{width:calc(100% - 40px);top:400px;left:20px;}
#ACAt{width:calc(100% - 40px);position:absolute;top:480px;left:20px;}

#ACo{width:calc(100% - 60px);height:500px;top:750px;left:30px;}
#ACOL{width:calc(100% - 40px);height:400px;overflow-x:hidden;overflow-y:auto;font-size:16px;position:absolute;top:80px;left:20px;}
#ACOL table{width:100%;}
#ACOL table tr{text-align:left;}
#ACOL table tr th{padding:0 0 6px 0;}
#ACOL table tr td{padding:5px 0;}

#Foot{top:2000px;}
@media only screen and (min-width:1100px){
    #ACOL table tr th,#ACOL table tr td{font-size:16px;}
    #ACOL table tr th:nth-child(1),#ACOL table tr th:nth-child(3),#ACOL table tr th:nth-child(4),#ACOL table tr th:nth-child(5){width:100px;}
}
@media only screen and (min-width:900px) and (max-width:1100px){
    #ACOL table tr th{font-size:14px;}
    #ACOL table tr td{font-size:12px;}
    #ACOL table tr th:nth-child(1),#ACOL table tr th:nth-child(4),#ACOL table tr th:nth-child(5){width:80px;}
    #ACOL table tr th:nth-child(3){width:70px;}
}
@media only screen and (min-width:700px) and (max-width:900px){
    #ACOL table tr th{font-size:14px;}
    #ACOL table tr td{font-size:12px;}
    #ACOL table tr th:nth-child(1),#ACOL table tr th:nth-child(4),#ACOL table tr th:nth-child(5){width:80px;}
    #ACOL table tr th:nth-child(3){width:70px;}
    #ACOL table tr th:nth-child(6),#ACOL table tr td:nth-child(6){display:none;}
}
@media only screen and (max-width:700px){
    #ACM h1{font-size:48px;top:30px;}
    #ACo{height:400px;top:120px;}
    #ACo{width:calc(100% - 20px);left:10px;}
    #ACOL{width:calc(100% - 10px);height:300px;left:5px;}
    #ACOL table tr th,#ACOL table tr td{font-size:10px;}
    #ACOL table tr th:nth-child(1),#ACOL table tr th:nth-child(3),#ACOL table tr th:nth-child(4){width:55px;}
    #ACOL table tr th:nth-child(5),#ACOL table tr td:nth-child(5),#ACOL table tr th:nth-child(6),#ACOL table tr td:nth-child(6){display:none;}
}
