body{overflow-x:hidden;}
#Hm{background:#04151F;}
#ACM{width:100%;height:1000px;background:#FAFAFF;position:absolute;top:100px;left:0;}
#ACM h1{width:100%;font-size:60px;font-weight:300;text-align:center;margin:0;position:absolute;top:40px;left:0;}
.AC_block{background:white;border:1px solid #E7E7E7;box-sizing:border-box;position:absolute;}
.AC_block h2{width:100%;font-size:24px;font-weight:300;margin:0;position:absolute;top:15px;left:20px;}
#ACa{width:calc(100% - 60px);height:300px;top:150px;left:30px;}
#ACAL{width:calc(100% - 20px);height:220px;overflow-x:hidden;overflow-y:auto;font-size:12px;position:absolute;top:60px;left:10px;}
#ACAL table{width:100%;}
#ACAL table tr{text-align:left;}
#ACAL table tr th{padding:0 0 8px 0;}
#Foot{top:1100px;}
@media only screen and (max-width:700px){
    /* STUFF */
}
