body{overflow-x:hidden;}
#Hm{background:#04151F;}
#ACM{width:100%;height:1000px;background:#FAFAFF;position:absolute;top:100px;left:0;}
#ACM h1{width:100%;font-size:60px;font-weight:300;text-align:center;margin:0;position:absolute;top:40px;left:0;}
.AC_block{width:300px;border:1px solid #E7E7E7;box-sizing:border-box;position:absolute;}
.AC_block h2{width:100%;font-size:24px;font-weight:300;margin:0;position:absolute;top:15px;left:20;}
#ACa{top:150px;left:30px;}
#ACAL{width:100%;overflow-x:hidden;overflow-y:auto;font-size:12px;position:absolute;top:60px;left:0;}
#Foot{top:1100px;}
@media only screen and (max-width:700px){
    /* STUFF */
}
