body{overflow-x:hidden;}
#Hm{background:#04151F;}
#ACM{width:100%;height:1000px;background:#FAFAFF;position:absolute;top:100px;left:0;}
#ACM h1{width:100%;font-size:60px;font-weight:300;text-align:center;margin:0;position:absolute;top:40px;left:0;}
.AC_block{background:white;border:1px solid #E7E7E7;box-sizing:border-box;position:absolute;}
.AC_block h2{width:100%;font-size:36px;font-weight:300;margin:0;position:absolute;top:15px;left:20px;}
#ACa{width:calc(100% - 60px);height:500px;top:150px;left:30px;}
#ACAL{width:calc(100% - 40px);height:400px;overflow-x:hidden;overflow-y:auto;font-size:16px;position:absolute;top:80px;left:20px;}
#ACAL table{width:100%;}
#ACAL table tr{text-align:left;}
#ACAL table tr th{padding:0 0 6px 0;}
#ACAL table tr th:nth-child(1){width:100px;}
#ACAL table tr th:nth-child(3){width:100px;}
#ACAL table tr th:nth-child(4){width:200px;}
#ACAL table tr td{padding:5px 0;}
#Foot{top:1100px;}
@media only screen and (max-width:700px){
    /* STUFF */
}
