body{overflow-x:hidden;}
#Hm{background:#04151F;}
#ACM{width:100%;height:2000px;background:#FAFAFF;position:absolute;top:100px;left:0;}
#ACM h1{width:100%;font-size:60px;font-weight:300;text-align:center;margin:0;position:absolute;top:40px;left:0;}
.AC_block{background:white;border:1px solid #E7E7E7;box-sizing:border-box;border-radius:5px;position:absolute;}
.AC_block h2{width:100%;font-size:36px;font-weight:300;margin:0;position:absolute;top:15px;left:20px;}
.ACH{font-size:30px;margin:0;color:#D7263D;-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;position:absolute;z-index:1;right:30px;}
.ACHM{color:#D7263D;font-size:16px;margin:0;position:absolute;top:20px;right:20px;}

#ACL{width:calc(50% - 30px);height:455px;position:absolute;top:150px;left:20px;}
#ACLn{width:calc(100% - 160px);position:absolute;top:80px;left:20px;}
#ACLNo{position:absolute;top:103px;left:calc(100% - 180px);}
#ACL_SA{width:100px;height:60px;background:#D7263D;position:absolute;top:80px;right:20px;}
#ACL hr{width:calc(100% - 20px);height:1px;background:#757780;border:0;margin:0;position:absolute;top:160px;left:10px;}
#ACLDh,#ACLBh{font-size:16px;width:calc(100% - 40px);margin:0;position:absolute;left:20px;}
#ACLDh{top:180px;}
#ACLBh{top:280px;}
#ACLDo,#ACLBo{position:absolute;top:48px;right:20px;}
#ACLDh select,#ACLBh select{width:100%;position:absolute;top:25px;left:0;}
#ACL_SB{width:calc(100% - 40px);position:absolute;top:385px;left:20px;}

#ACa{width:calc(50% - 30px);height:550px;position:absolute;top:625px;left:20px;}
#ACAHs{top:85px;}
#ACAHc{top:245px;right:calc(50% + 20px);}
#ACAHz{top:245px;}
#ACAHr{top:325px;}
#ACAHt{top:405px;}
#ACa input,#ACa select{position:absolute;}
#ACAs,#ACAb,#ACAr,#ACAt{width:calc(100% - 40px);padding:0 30px 0 20px;left:20px;}
#ACAs{top:80px;}
#ACAb{top:160px;}
#ACAc,#ACAz{width:calc(50% - 30px);padding:0 30px 0 20px;top:240px;}
#ACAc{left:20px;}
#ACAz{left:calc(50% + 10px);}
#ACAr{top:320px;}
#ACAt{top:400px;}
#ACATo{width:18px;height:18px;background-image:url("/static/multiplier_image.png");background-size:300px 300px;background-position:125px 66px;pointer-events:none;position:absolute;top:423px;right:40px;}
#ACA_S{width:calc(100% - 40px);position:absolute;top:480px;left:20px;}

#ACp{width:calc(50% - 30px);height:310px;position:absolute;top:150px;left:calc(50% + 10px);}
#ACPp,#ACPa{width:calc(100% - 40px);padding:0 30px 0 20px;position:absolute;left:20px;}
#ACPp{top:80px;}
#ACPa{top:160px;}
#ACPHp{top:85px;}
#ACPHa{top:165px;}
#ACP_S{width:calc(100% - 40px);position:absolute;top:240px;left:20px;}

#ACs{width:calc(50% - 30px);height:290px;position:absolute;top:480px;left:calc(50% + 10px);}
#ACSn{font-size:16px;margin:0;position:absolute;top:77px;left:20px;}
#ACSn li{padding:3px 0;}
#ACSb{width:calc(100% - 40px);height:50px;box-sizing:border-box;font-size:16px;font-weight:600;color:#FAFAFF;text-decoration:none;text-align:center;padding:16px 0;letter-spacing:1px;background:#008148;border:none;border-radius:4px;position:absolute;top:220px;left:20px;}

#ACo{width:calc(100% - 60px);height:500px;top:1350px;left:30px;}
#ACOL{width:calc(100% - 40px);height:400px;overflow-x:hidden;overflow-y:auto;font-size:16px;position:absolute;top:80px;left:20px;}
#ACOL table{width:100%;}
#ACOL table tr{text-align:left;}
#ACOL table tr th{padding:0 0 6px 0;}
#ACOL table tr td{padding:5px 0;}

#Foot{top:2000px;}
@media only screen and (min-width:1100px){
    #ACOL table tr th,#ACOL table tr td{font-size:16px;}
    #ACOL table tr th:nth-child(1),#ACOL table tr th:nth-child(3),#ACOL table tr th:nth-child(4),#ACOL table tr th:nth-child(5){width:100px;}
}
@media only screen and (min-width:900px) and (max-width:1100px){
    #ACOL table tr th{font-size:14px;}
    #ACOL table tr td{font-size:12px;}
    #ACOL table tr th:nth-child(1),#ACOL table tr th:nth-child(4),#ACOL table tr th:nth-child(5){width:80px;}
    #ACOL table tr th:nth-child(3){width:70px;}
}
@media only screen and (min-width:700px) and (max-width:900px){
    #ACOL table tr th{font-size:14px;}
    #ACOL table tr td{font-size:12px;}
    #ACOL table tr th:nth-child(1),#ACOL table tr th:nth-child(4),#ACOL table tr th:nth-child(5){width:80px;}
    #ACOL table tr th:nth-child(3){width:70px;}
    #ACOL table tr th:nth-child(6),#ACOL table tr td:nth-child(6){display:none;}
}
@media only screen and (max-width:700px){
    #ACM h1{font-size:48px;top:30px;}
    #ACo{height:400px;top:120px;}
    #ACo{width:calc(100% - 20px);left:10px;}
    #ACOL{width:calc(100% - 10px);height:300px;left:5px;}
    #ACOL table tr th,#ACOL table tr td{font-size:10px;}
    #ACOL table tr th:nth-child(1),#ACOL table tr th:nth-child(3),#ACOL table tr th:nth-child(4){width:55px;}
    #ACOL table tr th:nth-child(5),#ACOL table tr td:nth-child(5),#ACOL table tr th:nth-child(6),#ACOL table tr td:nth-child(6){display:none;}
}
