#Hm{background:#04151F;}
#cfer{display:none;width:400px;height:40px;font-size:16px;padding:10px 20px;color:#FAFAFF;background:#D7263D;border:1px solid #FAFAFF;border-radius:6px;box-sizing:border-box;position:absolute;z-index:1;top:105px;left:calc(50% - 200px);}
#Cfm{width:400px;height:550px;background:#FAFAFF;border:1px solid #E2DADB;border-radius:4px;box-sizing:border-box;position:absolute;top:150px;left:calc(50% - 200px);}
#Cfm h1{width:100%;font-size:36px;margin:0;text-align:center;position:absolute;top:10px;left:0;}
#CFn,#CFe,#CFo,#CFt{width:calc(100% - 40px);position:absolute;left:20px;}
#CFn{top:70px;}
#CFe{top:150px;}
#CFo{top:230px;}
#CFt{height:150px;padding:15px 15px 10px 20px;resize:none;top:310px;}
#CFs{width:360px;height:50px;box-sizing:border-box;font-size:16px;font-weight:600;color:#FAFAFF;letter-spacing:1px;padding:0 20px 0 40px;background:#008148;border:none;border-radius:4px;position:absolute;top:630px;left:calc(50% - 180px);}
#cti{width:400px;height:80px;background:#FAFAFF;font-size:16px;text-align:center;color:#0A0908;border-radius:6px;padding:20px 15px;box-sizing:border-box;position:absolute;top:calc(50% - 40px);left:calc(50% - 200px);}
#Foot{top:750px;}
@media only screen and (max-width:700px){
    #cfer{width:calc(100% - 30px);top:55px;left:15px;}
    #Cfm{width:calc(100% - 30px);top:100px;left:15px;}
    #CFs{width:calc(100% - 70px);top:580px;left:35px;}
}
