#Hdr{display:block;width:100%;height:100px;background:#04151F;position:absolute;top:0px;left:0px;}
#Cfm{width:400px;height:500px;background:#FAFAFF;border:1px solid #E2DADB;border-radius:3px;box-sizing:border-box;position:absolute;top:150px;left:calc(50% - 200px);}
#CFf,#CFL,#CFe,#CFo,#CFr,#CFt{position:absolute;left:10px;}
#Foot{top:700px;}
@media only screen and (max-width:700px){
    #Hdr{display:none;}
    #Cfm{width:calc(100% - 30px);top:100px;left:15px;}
}
