#Hdr{display:block;width:100%;height:100px;background:#04151F;position:absolute;top:0px;left:0px;}
#Cfm{width:400px;height:500px;background:#FAFAFF;border:1px solid #E2DADB;border-radius:3px;box-sizing:border-box;position:absolute;top:150px;left:calc(50% - 200px);}
#CFn,#CFe,#CFo,#CFt{width:calc(100% - 40px);position:absolute;left:20px;}
#CFn,#CFe,#CFo{padding:0 15px 0 20px;}
#CFn{top:20px;}
#CFe{top:100px;}
#CFo{top:180px;}
#CFt{height:150px;padding:15px 15px 10px 20px;resize:none;top:260px;}
#CFs{width:360px;height:50px;box-sizing:border-box;font-size:16px;font-weight:600;color:#FAFAFF;letter-spacing:1px;padding:0 20px 0 40px;background:#008148;border:none;border-radius:4px;position:absolute;top:580px;left:calc(50% - 180px);}
#Foot{top:700px;}
@media only screen and (max-width:700px){
    #Hdr{display:none;}
    #Cfm{width:calc(100% - 30px);top:100px;left:15px;}
}
