/*
#D7263D - Error Red
#0A0908 - Black
#034732 - Dark Green
#033B29 - Active Dark Green
#008148 - Light Green
#4CBB17 - Sale Green
#006A3B - Active Light Green
#1446A0 - Link Blue
#113A83 - Active Link Blue
#FAFAFF - White
#04151F - Dark Grey / Blue
#030E14 - Darker Grey / Blue
#020A0F - Active Darker Grey / Blue
#444054 - Dark Grey / Purple
#605F5E - Registration Grey
#757780 - Silver
#E2DADB - Light Grey
#EAEAEA - Lighter Grey
*/

body{font-family:sans-serif,Arial,Verdana;line-height:1.2;letter-spacing:1px;background-color:#E7E7E7;}
form{margin:0;}
input[type="text"],input[type="email"],input[type="password"],input[type="search"],input[type="number"]{outline:none;-moz-appearance:textfield;height:60px;box-sizing:border-box;font-size:20px;color:#444054;letter-spacing:1px;padding:0 10px 0 20px;background:#E6E6E6;border:1px solid #E6E6E6;border-radius:4px;}
::-ms-clear,::-ms-reveal{display:none;width:0;height:0;}::-webkit-search-decoration,::-webkit-search-cancel-button,::-webkit-search-results-button,::-webkit-search-results-decoration{display:none;}
::-webkit-inner-spin-button,::-webkit-outer-spin-button{-webkit-appearance:none;margin:0;}
textarea{outline:none;font-family:sans-serif,Arial,Verdana;padding:15px 20px 10px 40px;color:#444054;background:#E6E6E6;border:1px solid #E6E6E6;border-radius:4px;box-sizing:border-box;font-size:20px;}
select{outline:none;height:60px;cursor:pointer;-webkit-appearance:none;-khtml-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;letter-spacing:1px;box-sizing:border-box;font-size:20px;color:#444054;padding:0 40px 0 20px;background:#E6E6E6;border:1px solid #E6E6E6;border-radius:4px;}
select::-ms-expand{display:none;}
.DDoA{width:12px;height:12px;background-image:url("/static/multiplier_image.png");background-size:200px 200px;background-position:83px 44px;pointer-events:none;}
.DDoB{width:18px;height:18px;background-image:url("/static/multiplier_image.png");background-size:300px 300px;background-position:125px 66px;pointer-events:none;}
.DDoC{width:24px;height:24px;background-image:url("/static/multiplier_image.png");background-size:400px 400px;background-position:166px 88px;pointer-events:none;}
select option{color:black;}
a{outline:none;cursor:pointer;}
button{outline:none;cursor:pointer;}
input[type="checkbox"]{visibility:hidden;cursor:pointer;}
input[type="checkbox"]:after{visibility:visible;display:inline-block;content:"";width:20px;height:20px;cursor:pointer;position:relative;top:-3px;left:-10px;}
input[type="checkbox"][v="y"]:after{background:url("/static/multiplier_image.png");background-size:175px 170px;background-position:27px 24px;}
input[type="checkbox"][v="n"]:after{background:url("/static/multiplier_image.png");background-size:175px 170px;background-position:27px 65px;}
input[type="checkbox"]:checked:after{background:url("/static/multiplier_image.png");background-size:175px 170px;background-position:27px 44px;}
input[type="radio"]{visibility:hidden;cursor:pointer;}
input[type="radio"]:after{visibility:visible;display:inline-block;content:"";width:20px;height:20px;cursor:pointer;background:url("/static/multiplier_image.png");background-size:200px 200px;background-position:128px 75px;margin:0 0 0 5px;position:relative;top:-3px;left:-10px;}
input[type="radio"]:checked:after{background:url("/static/multiplier_image.png");background-size:200px 200px;background-position:108px 75px;}
input[type="submit"],.rgsb{outline:none;cursor:pointer;height:50px;box-sizing:border-box;font-size:16px;font-weight:600;color:#FAFAFF;letter-spacing:1px;background:#008148;border:none;border-radius:4px;}
input[type="submit"]:active,.rgsb:active{background:#006A3B;}
.r_star_s{width:83px;height:18px;background-image:url("/static/multiplier_image.png");background-size:300px;}
.r_star_s[r="5"]{background-position:-309px -250px;}
.r_star_s[r="4.5"]{background-position:-309px -275px;}
.r_star_s[r="4"]{background-position:-326px -250px;}
.r_star_s[r="3.5"]{background-position:-326px -275px;}
.r_star_s[r="3"]{background-position:-343px -250px;}
.r_star_s[r="2.5"]{background-position:-343px -275px;}
.r_star_s[r="2"]{background-position:-359px -250px;}
.r_star_s[r="1.5"]{background-position:-359px -275px;}
.r_star_s[r="1"]{background-position:-376px -250px;}
.r_star_s[r="0.5"]{background-position:-376px -275px;}
.r_star_s[r="0"]{background-position:-392px -250px;}
#M_H{width:100%;height:50px;background:#FAFAFF;display:none;position:absolute;top:0px;left:0px;}
#M_H button{width:40px;height:40px;background-image:url("/static/multiplier_image.png");background-color:transparent;background-size:400px;background-position:-240px -265px;border:none;margin:5px 15px;position:absolute;top:0px;left:0px;}
#M_H_close{display:none;width:40px;height:40px;background-image:url("/static/multiplier_image.png");background-size:400px;background-position:-290px -223px;position:absolute;top:15px;right:15px;}
#Hm{width:100%;height:100px;color:#FAFAFF;font-size:16px;box-sizing:border-box;list-style-type:none;margin:0;padding:0 15px;position:absolute;top:0;left:0;}
#Hm li{display:inline-block;padding:0;cursor:pointer;position:relative;top:40px;}
#Hm li a{font-size:16px;color:#FAFAFF;padding:40px 20px;text-decoration:none;font-weight:300;}
#Hm li a b{font-weight:300;padding:6px 5px;border-bottom:2px solid #EAEAEA;}
#HMs{height:100px;background:transparent;font-size:16px;padding:40px 40px 40px 10px;color:#FAFAFF;text-decoration:none;box-sizing:border-box;text-align:right;position:absolute;bottom:0;right:55px;}
#HMs span{display:block;width:36px;height:36px;background-image:url("/static/profile_icon.png");background-repeat:no-repeat;background-size:cover;background-position:center;box-sizing:border-box;border:1px solid grey;border-radius:100%;position:relative;bottom:28px;right:45px;}
#HMc{width:30px;height:30px;background-image:url("/static/multiplier_image.png");background-size:300px;background-position:-159px -153px;text-align:center;text-decoration:none;position:absolute;top:32px;left:calc(100% - 65px);}
#HMCi{pointer-events:none;font-size:11px;color:white;position:relative;left:2px;}
#Fackc{width:100%;background:#04151F;font-size:20px;color:#FAFAFF;padding:15px 50px;box-sizing:border-box;position:fixed;z-index:100;bottom:0;left:0;}
#Fackc a{color:#757780;}
#Fackc input[type="submit"]{height:auto;cursor:pointer;font-size:20px;font-weight:300;background:none;float:right;position:relative;bottom:0;left:0;}
#Foot{width:100%;height:350px;background:#605F5E;position:absolute;left:0;}
#Ft{width:calc(100% - 100px);position:absolute;top:20px;left:50px;}
#Ft tr th{text-align:left;font-size:16px;color:#EAEAEA;padding:10px 0;}
#Ft tr td{text-align:left;}
#Ft tr td a{color:#E2DADB;text-decoration:none;font-size:12px;padding:3px 0;}
#Foot hr{width:calc(100% - 60px);height:1px;border:none;background:#E2DADB;position:absolute;bottom:60px;left:30px;}
#FPu{width:calc(100% - 100px);color:#E2DADB;padding:0;margin:0;font-size:16px;position:absolute;bottom:20px;left:50px;}
#FPu select{display:inline-block;height:initial;font-size:14px;color:#EAEAEA;padding:6px 25px 6px 3px;margin:0 5px;background:transparent;border-top:none;border-bottom:1px solid #E2E2E2;border-left:none;border-right:none;border-radius:0;}
#FLo,#FNo{display:inline-block;width:12px;height:12px;background-image:url("/static/multiplier_image.png");background-size:200px 200px;background-position:83px 78px;pointer-events:none;position:relative;top:2px;left:-22px;}
#FPUc{text-align:right;margin:10px 0;font-size:14px;text-decoration:none;color:#E2DADB;float:right;}
@media only screen and (max-width:700px){
    input{padding:0 15px 0 25px;}
    #Hdr{height:500px;}
    #Hm{display:none;width:100%;height:100%;background:white;padding:40px 0px;box-sizing:border-box;position:fixed;z-index:100;top:0px;left:0px;}
    #Hm li{display:block;padding:15px 0px;text-align:center;}
    #Hm li a{font-size:24px;color:#605F5E;padding:inherit;}
    #Hm li a b{padding:0px;border:none;color:#04151F;}
    #HMc{top:20px;left:20px;}
    #M_H{display:block;}
    #M_H_close{display:block;}
    #HMs{width:calc(100% - 60px);height:50px;color:#FAFAFF;text-decoration:none;text-align:center;font-size:24px;padding:10px 0;box-sizing:border-box;background:#008148;border:none;border-radius:4px;box-sizing:border-box;position:absolute;bottom:30px;right:30px;}
    #HMs span{position:absolute;bottom:8px;right:15px;}
    #HMc{width:40px;height:40px;background-size:400px;background-position:-290px -265px;}
    #HMCi{font-size:16px;color:#444054;}
    #Fackc{padding:15px 10px 50px 10px;font-size:16px;}
    #Fackc input[type="submit"]{width:100%;text-align:center;padding:10px 0;background:#030E14;position:absolute;}
    #Fackc input[type="submit"]:active{background:#020A0F;}
    #Foot{height:340px;}
    #Ft{width:calc(100% - 60px);left:30px;}
    #Ft tr th{font-size:14px;padding:5px 0px;}
    #Ft tr td a{font-size:9px;}
    #Foot hr{width:calc(100% - 40px);bottom:70px;left:20px;}
    #FPu{width:calc(100% - 40px);bottom:0px;left:20px;}
    #FPu select{font-size:9px;padding:6px 20px 6px 2px;margin:0px;}
    #FLo,#FNo{left:-15px;}
    #FPUc{font-size:9px;margin:15px 0px;}
}
