/*
#0A0908 - Black
#034732 - Dark Green
#033B29 - Active Dark Green
#008148 - Light Green
#006A3B - Active Light Green
#1446A0 - Link Blue
#113A83 - Active Link Blue
#FAFAFF - White
#04151F - Dark Grey / Blue
#444054 - Dark Grey / Purple
#605F5E - Registration Grey
#E2DADB - Light Grey
#EAEAEA - Lighter Grey
*/

body{font-family:sans-serif,Arial,Verdana;line-height:1.2;letter-spacing:1px;background-color:#E7E7E7;}
form{margin:0;}
input{outline:none;height:60px;box-sizing:border-box;font-size:20px;color:#444054;padding:0 20px 0 40px;background:#E6E6E6;border:1px solid #E6E6E6;border-radius:4px;}
::-ms-clear,::-ms-reveal{display:none;width:0;height:0;}::-webkit-search-decoration,::-webkit-search-cancel-button,::-webkit-search-results-button,::-webkit-search-results-decoration{display:none;}
::-webkit-inner-spin-button,::-webkit-outer-spin-button{-webkit-appearance:none;margin:0;}
input[type="submit"]{cursor:pointer;}
textarea{outline:none;font-family:sans-serif,Arial,Verdana;padding:15px 20px 10px 40px;color:#444054;background:#E6E6E6;border:1px solid #E6E6E6;border-radius:4px;box-sizing:border-box;font-size:20px;}
select{outline:none;cursor:pointer;-webkit-appearance:none;-khtml-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;}
select::-ms-expand{display:none;}
select option{color:black;}
a{outline:none;cursor:pointer;}
button{outline:none;cursor:pointer;}
input[type="checkbox"]{visibility:hidden;cursor:pointer;}
input[type="checkbox"]:after{visibility:visible;display:inline-block;content:"";width:20px;height:20px;cursor:pointer;position:relative;top:-3px;left:-10px;}
input[type="checkbox"][v="y"]:after{background:url("/static/multiplier_image.png");background-size:175px 170px;background-position:27px 24px;}
input[type="checkbox"][v="n"]:after{background:url("/static/multiplier_image.png");background-size:175px 170px;background-position:27px 65px;}
input[type="checkbox"]:checked:after{background:url("/static/multiplier_image.png");background-size:175px 170px;background-position:27px 44px;}
input[type="radio"]{visibility:hidden;cursor:pointer;}
input[type="radio"]:after{visibility:visible;display:inline-block;content:"";width:20px;height:20px;cursor:pointer;background:url("/static/multiplier_image.png");background-size:200px 200px;background-position:128px 75px;margin:0 0 0 5px;position:relative;top:-3px;left:-10px;}
input[type="radio"]:checked:after{background:url("/static/multiplier_image.png");background-size:200px 200px;background-position:108px 75px;}
#M_H{width:100%;height:50px;background:#FAFAFF;display:none;position:absolute;top:0px;left:0px;}
#M_H button{width:40px;height:40px;background-image:url("/static/multiplier_image.png");background-color:transparent;background-size:400px;background-position:-240px -265px;border:none;margin:5px 15px;position:absolute;top:0px;left:0px;}
#M_H_close{display:none;width:40px;height:40px;background-image:url("/static/multiplier_image.png");background-size:400px;background-position:-290px -223px;position:absolute;top:15px;right:15px;}
#Hm{width:100%;height:100px;color:#FAFAFF;font-size:16px;box-sizing:border-box;list-style-type:none;margin:0;padding:0 15px;position:absolute;top:0;left:0;}
#Hm li{display:inline-block;padding:0;cursor:pointer;position:relative;top:40px;}
#Hm li a{font-size:16px;color:#FAFAFF;padding:40px 20px;text-decoration:none;font-weight:300;}
#Hm li a b{font-weight:300;padding:6px 5px;border-bottom:2px solid #EAEAEA;}
#HMs{height:100px;background:transparent;font-size:16px;padding:40px 40px 40px 10px;color:#FAFAFF;text-decoration:none;box-sizing:border-box;text-align:right;position:absolute;bottom:0;right:0;}
#HMs span{display:block;width:36px;height:36px;background-image:url("/static/profile_icon.png");background-repeat:no-repeat;background-size:cover;background-position:center;box-sizing:border-box;border:1px solid grey;border-radius:100%;position:relative;bottom:28px;right:28px;}
#Foot{width:100%;height:350px;background:#605F5E;position:absolute;left:0;}
#Ft{width:calc(100% - 100px);position:absolute;top:20px;left:50px;}
#Ft tr th{text-align:left;font-size:16px;color:#EAEAEA;padding:10px 0;}
#Ft tr td{text-align:left;}
#Ft tr td a{color:#E2DADB;text-decoration:none;font-size:12px;padding:3px 0;}
#Foot hr{width:calc(100% - 60px);height:1px;border:none;background:#E2DADB;position:absolute;bottom:60px;left:30px;}
#FPu{width:calc(100% - 100px);color:#E2DADB;padding:0;margin:0;font-size:16px;position:absolute;bottom:20px;left:50px;}
#FPu select{display:inline-block;font-size:14px;color:#EAEAEA;padding:6px 25px 6px 3px;margin:0 5px;background:transparent;border-top:none;border-bottom:1px solid #E2E2E2;border-left:none;border-right:none;}
#FLo,#FNo{display:inline-block;width:12px;height:12px;background-image:url("/static/multiplier_image.png");background-size:200px 200px;background-position:83px 78px;pointer-events:none;position:relative;top:2px;left:-22px;}
#FPUc{text-align:right;margin:10px 0;font-size:14px;text-decoration:none;color:#E2DADB;float:right;}
@media only screen and (max-width:700px){
    input{padding:0 15px 0 25px;}
    #Hdr{height:500px;}
    #Hm{display:none;width:100%;height:100%;background:white;padding:40px 0px;box-sizing:border-box;position:fixed;z-index:100;top:0px;left:0px;}
    #Hm li{display:block;padding:15px 0px;text-align:center;}
    #Hm li a{font-size:24px;color:#605F5E;padding:inherit;}
    #Hm li a b{padding:0px;border:none;color:#04151F;}
    #M_H{display:block;}
    #M_H_close{display:block;}
    #HMs{width:calc(100% - 60px);height:50px;color:#FAFAFF;text-decoration:none;text-align:center;font-size:24px;padding:10px 0;box-sizing:border-box;background:#008148;border:none;border-radius:4px;box-sizing:border-box;position:absolute;bottom:30px;right:30px;}
    #HMs span{position:absolute;bottom:37px;right:40px;}
    #Foot{height:340px;}
    #Ft{width:calc(100% - 60px);left:30px;}
    #Ft tr th{font-size:14px;padding:5px 0px;}
    #Ft tr td a{font-size:9px;}
    #Foot hr{width:calc(100% - 40px);bottom:70px;left:20px;}
    #FPu{width:calc(100% - 40px);bottom:0px;left:20px;}
    #FPu select{font-size:9px;padding:6px 20px 6px 2px;margin:0px;}
    #FLo,#FNo{left:-15px;}
    #FPUc{font-size:9px;margin:15px 0px;}
}
