#Hdr h1{width:100%;font-size:72px;font-weight:300;letter-spacing:5px;margin:0;color:#FAFAFF;text-align:center;text-shadow:0 0 2px #04151F;position:absolute;top:260px;left:0;}
#Hdr h2{width:400px;color:#FAFAFF;font-size:18px;letter-spacing:1px;font-weight:300;text-align:center;margin:0px;text-shadow:0 0 2px #04151F;position:absolute;top:340px;left:calc(50% - 200px);}
#HdrLk{width:300px;font-size:18px;color:#FAFAFF;text-decoration:none;text-align:center;background:#04151F;padding:6px 0;border:none;position:absolute;top:390px;left:calc(50% - 150px);}
#BPa{width:100%;background:#FAFAFF;position:absolute;top:700px;left:0px;}
#BPa a{display:inline-block;width:400px;height:400px;text-decoration:none;background:grey;margin:10px;}
#BPa a .BPX{width:100%;height:100px;background:rgba(255,255,255,0.5);text-align:left;position:relative;top:300px;left:0px;}
#BPa a .BPX span{display:block;width:calc(100% - 20px);height:25px;position:relative;top:5px;left:10px;}
#BPa a .BPX span abbr{display:inline-block;width:25px;height:25px;background:red;border:1px solid white;border-radius:100%;box-sizing:border-box;}
#BPa a .BPX h6{width:calc(100% - 20px);margin:0px;font-size:14px;font-weight:300;color:black;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;position:relative;top:15px;left:10px;}
#BPa a .BPX h1{width:calc(100% - 20px);margin:0px;font-size:24px;font-weight:300;color:black;position:relative;top:20px;left:10px;}
#Foot{top:700px;}
@media only screen and (max-width:700px){
    #Hdr h1{font-size:48px;top:180px;}
    #Hdr h2{width:270px;letter-spacing:2px;top:240px;left:calc(50% - 135px);}
    #HdrLk{width:calc(100% - 100px);top:300px;left:50px;}
    #BPa{top:500px;}
    #BPa a{display:block;width:300px;height:300px;}
    #BPa a .BPX{top:200px;}
    #Foot{top:940px;}
}
