#Hdr{width:100%;height:650px;background-image:url("/static/1135762634.jpg");background-size:cover;background-position:center;position:absolute;top:0;left:0;}
#Hdr::before{width:100%;height:100%;content:"";background:rgba(0,0,0,0.5);position:absolute;top:0;left:0;}
#Hdr h1{width:100%;font-size:72px;font-weight:300;letter-spacing:5px;margin:0;color:#FAFAFF;text-align:center;text-shadow:0 0 2px #04151F;position:absolute;top:260px;left:0;}
#Hdr h2{width:400px;color:#FAFAFF;font-size:18px;letter-spacing:1px;font-weight:300;text-align:center;margin:0px;text-shadow:0 0 2px #04151F;position:absolute;top:340px;left:calc(50% - 200px);}
#HdrLk{width:300px;font-size:18px;color:#FAFAFF;text-decoration:none;text-align:center;background:#04151F;padding:6px 0;border:none;position:absolute;top:390px;left:calc(50% - 150px);}
#BPSt{width:100%;height:50px;background:white;border-top:0;border-bottom:1px solid #E2DADB;border-left:0;border-right:0;box-sizing:border-box;position:absolute;top:650px;left:0;}
#BPSf{width:100px;height:40px;border:0;background:none;font-size:16px;text-align:left;padding:0  0 0 40px;position:absolute;top:5px;right:50px;}
#BPSf::before{width:30px;height:30px;content:"";background-image:url("/static/multiplier_image.png");background-size:180px;background-position:-57px -79px;position:absolute;top:5px;left:3px;}
#BPSo{display:block;width:100%;height:100%;background:#FAFAFF;position:fixed;z-index:101;top:0;left:0;}
#BPSo .BPFc{padding:15px 50px;margin:0;font-size:20px;}
#BPSo .BPFc input[type="checkbox"]::after{top:-9px;}
#BPS_S{width:100%;border-radius:0;position:fixed;bottom:0;left:0;}
#BPa{width:100%;background:#FAFAFF;position:absolute;top:700px;left:0px;}
#BPa a{display:inline-block;width:400px;height:400px;box-sizing:border-box;border:1px solid #EAEAEA;text-decoration:none;background:white;background-size:cover;background-position:center;margin:10px;}
#BPa a .BPX{width:100%;height:105px;background:rgba(255,255,255,0.75);text-align:left;position:relative;top:295px;left:0px;}
#BPa a .BPX span{display:block;width:calc(100% - 20px);height:25px;position:relative;top:5px;left:10px;}
#BPa a .BPX span abbr{display:inline-block;width:25px;height:25px;margin-right:3px;border-radius:100%;box-sizing:border-box;}
#BPa a .BPX span abbr[s="y"]{border:2px solid white;box-shadow:0px 0px 0px 1px #D7263D;}
#BPa a .BPX span abbr[s="n"]{border:1px solid white;box-shadow:none;}
#BPa a .BPX h6{width:calc(100% - 20px);margin:0px;font-size:14px;font-weight:300;color:black;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;position:relative;top:15px;left:10px;}
#BPa a .BPX h1{width:calc(100% - 20px);margin:0px;font-size:24px;font-weight:300;color:black;position:relative;top:20px;left:10px;}
#BPa a .BPX h1 strike{font-size:14px;color:#757780;position:relative;top:-10px;}
#BPa a .BPX h2{width:calc(100% - 20px);margin:0px;font-size:24px;font-weight:300;color:black;position:relative;top:5px;left:10px;}
#Foot{top:700px;}
@media only screen and (max-width:700px){
    #Hdr h1{font-size:48px;top:180px;}
    #Hdr h2{width:270px;letter-spacing:2px;top:240px;left:calc(50% - 135px);}
    #HdrLk{width:calc(100% - 100px);top:300px;left:50px;}
    #BPa{top:500px;}
    #BPa a{display:block;width:300px;height:300px;}
    #BPa a .BPX{top:195px;}
    #Foot{top:940px;}
}
