#Hm{background:#04151F;}
#TC,#RC,#DC,#PC{width:calc(100% - 160px);position:absolute;top:120px;left:80px;}
@media only screen and (max-width:700px){
    #TC,#RC,#DC,#PC{width:calc(100% - 60px);top:80px;left:30px;}
}
