body{overflow-x:hidden;}
#Hm{background:#04151F;}
#Bp{width:calc(50% - 30px);height:600px;margin:0;padding:0;background-position:center;background-size:contain;background-repeat:no-repeat;position:absolute;top:100px;left:15px;}
#BPs{width:calc(50% - 30px);height:110px;white-space:nowrap;margin:0;padding:0;list-style-type:none;overflow-x:auto;overflow-y:hidden;position:absolute;top:720px;left:15px;}
#BPs li{display:inline-block;}
#BPs li img{width:auto;height:100px;}
#Bi{width:50%;position:absolute;top:100px;right:0;}
#BIn{width:calc(100% - 15px);margin:0;font-size:24px;position:absolute;top:40px;left:0;}
#BIr{margin:0;font-size:12px;position:absolute;top:80px;left:0;}
#BIr span{display:inline-block;position:relative;top:5px;}
#BIr u{padding-left:8px;}
#BIp{margin:0;font-size:36px;position:absolute;top:80px;left:0;}
#BIp strike{font-size:14px;color:#757780;position:relative;top:-25px;}
#BId{margin:0;font-size:36px;position:absolute;top:90px;left:10px;}
#BIc{position:absolute;top:140px;left:0;}
#BIi{width:calc(100% - 15px);max-height:300px;margin:0;font-size:16px;overflow-x:hidden;overflow-y:auto;}
#Foot{top:2000px;}
@media only screen and (max-width:700px){
    /* PLACEHOLDER */
}
