body{overflow-x:hidden;}
#Hm{background:#04151F;}
#rg_block{width:400px;background:#FAFAFF;border-radius:6px;overflow:hidden;position:absolute;left:calc(50% - 200px);}
#rg_block[hg="u"]{height:490px;top:160px;}
#rg_block[hg="uv"]{height:300px;text-align:center;top:220px;}
#rg_block[hg="i"]{height:350px;top:200px;}
#rg_block[hg="fp"]{height:280px;top:250px;}
#rg_block[hg="fa"]{height:230px;top:280px;}
#suv_h{width:calc(100% - 60px);margin:0px;font-size:16px;font-weight:300;position:absolute;top:30px;left:30px;}
#rg_block a.sign_x{width:50%;text-align:center;font-size:28px;color:#0A0908;text-decoration:none;margin:0;padding:20px 0;position:absolute;top:0;}
#rg_block a.sign_x[s="y"]{background:transparent;}
#rg_block a.sign_x[s="n"]{background:#F2F2F2;}
#sign_x_in{left:0;}
#sign_x_up{left:50%;}
#rg_block[hg="fp"] h1{width:100%;font-size:30px;text-align:center;margin:0;position:absolute;top:15px;left:0;}
#rg_block[hg="fp"] h3{width:calc(100% - 60px);font-size:16px;font-weight:300;text-align:center;margin:0;position:absolute;top:60px;left:30px;}
#rg_block[hg="fa"] h1{width:100%;font-size:30px;text-align:center;margin:0;position:absolute;top:15px;left:0;}
#rg_block[hg="fa"] h3{width:calc(100% - 60px);font-size:16px;font-weight:300;text-align:center;margin:0;position:absolute;top:60px;left:30px;}
.ser{display:none;width:400px;height:40px;font-size:16px;padding:10px 20px;color:#FAFAFF;background:#D7263D;border:1px solid #FAFAFF;border-radius:6px;box-sizing:border-box;position:absolute;z-index:1;left:calc(50% - 200px);}
#suer{top:100px;}
#sier{top:140px;}
#fper{top:200px;}
#faer{top:250px;}
#rg_block input[type="email"],#rg_block input[type="password"]{width:340px;position:absolute;left:30px;}
#siem{top:100px;}
#sipw{top:180px;}
#supwmin{width:calc(100% - 60px);margin:0px;font-size:9px;text-align:right;color:#444054;position:absolute;top:245px;left:30px;}
#suem{top:100px;}
#supw{top:180px;}
#supa{top:265px;}
#fpem{top:120px;}
#suua{width:345px;font-size:12px;color:#0A0908;line-height:1.3;margin:0;position:absolute;top:340px;left:30px;}
#suua a{color:#1446A0;text-decoration:underline;}
#suua a:active{color:#113A83;}
#sifp{width:calc(100% - 60px);margin:0;font-size:12px;text-align:right;text-decoration:none;color:#444054;position:absolute;top:247px;left:30px;}
.rgsb{width:calc(100% - 60px);height:50px;box-sizing:border-box;font-size:16px;font-weight:600;color:#FAFAFF;letter-spacing:1px;padding:0 20px 0 40px;background:#008148;border:none;border-radius:4px;position:absolute;left:30px;}
.rgsb:active{background:#006A3B;}
#rg_block[hg="u"] .rgsb{top:420px;}
#rg_block[hg="uv"] .rgsb{top:220px;}
#rg_block[hg="i"] .rgsb{top:280px;}
#rg_block[hg="fp"] .rgsb{top:200px;}
#rg_block[hg="fa"] .rgsb{top:160px;}
#Foot{top:700px;}
@media only screen and (max-width:700px){
    #rg_block{width:calc(100% - 40px);left:20px;}
    #rg_block[hg="i"]{height:330px;top:150px;}
    #rg_block[hg="u"]{height:470px;top:110px;}
    #rg_block[hg="uv"]{top:170px;}
    #rg_block a.sign_x{font-size:24px;padding:15px 0px;}
    #rg_block input[type="email"], #rg_block input[type="password"]{width:calc(100% - 30px);left:15px;}
    #sifp{width:calc(100% - 30px);top:227px;left:15px;}
    #supwmin{width:calc(100% - 30px);top:225px;left:15px;}
    #suua{width:calc(100% - 30px);top:320px;left:15px;}
    .rgsb{width:calc(100% - 30px);left:15px;}
    .ser{width:calc(100% - 40px);padding:10px 12px;left:20px;}
    #suer{top:60px;}
    #sier{top:95px;}
    #suv_h{width:calc(100% - 20px);left:10px;}
    #rg_block[hg="i"] .rgsb{top:260px;}
    #rg_block[hg="u"] .rgsb{top:400px;}
    #siem,#suem{top:80px;}
    #sipw,#supw{top:160px;}
    #supa{top:245px;}
}
