body{font-family:sans-serif,Arial,Verdana;line-height:1.2;letter-spacing:1px;background-image:url("/static/1135762634.jpg");background-size:cover;background-position:center;overflow-x:hidden;}
body::before{width:100%;height:800px;content:"";background:rgba(0,0,0,0.5);position:absolute;top:0;left:0;}
#Hm{width:calc(100% - 50px);color:#FAFAFF;font-size:16px;list-style-type:none;margin:0;padding:0 15px;position:absolute;top:40px;left:0;}
#Hm li{display:inline-block;padding:0;cursor:pointer;}
#Hm li a{color:#FAFAFF;padding:40px 30px;text-decoration:none;font-weight:300;}
#M_H{width:100%;height:50px;background:#FAFAFF;display:none;position:absolute;top:0px;left:0px;}
#M_H button{width:40px;height:40px;background-image:url("/static/multiplier_image.png");background-color:transparent;background-size:400px;background-position:-240px -265px;border:none;margin:5px 15px;position:absolute;top:0px;left:0px;}
#M_H_close{display:none;width:40px;height:40px;background-image:url("/static/multiplier_image.png");background-size:400px;background-position:-290px -223px;position:absolute;top:15px;right:15px;}
form{margin:0;}
input{outline:none;}
::-ms-clear,::-ms-reveal{display:none;width:0;height:0;}::-webkit-search-decoration,::-webkit-search-cancel-button,::-webkit-search-results-button,::-webkit-search-results-decoration{display:none;}
::-webkit-inner-spin-button,::-webkit-outer-spin-button{-webkit-appearance:none;margin:0;}
input[type="submit"]{cursor:pointer;}
textarea{outline:none;}
select{outline:none;cursor:pointer;-webkit-appearance:none;-khtml-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;}
select::-ms-expand{display:none;}
select option{color:black;}
a{outline:none;cursor:pointer;}
button{outline:none;cursor:pointer;}
input[type="checkbox"]{visibility:hidden;cursor:pointer;}
input[type="checkbox"]:after{visibility:visible;display:inline-block;content:"";width:20px;height:20px;cursor:pointer;position:relative;top:-3px;left:-10px;}
input[type="checkbox"][v="y"]:after{background:url('/images/multiplier_image.png');background-size:175px 170px;background-position:27px 24px;}
input[type="checkbox"][v="n"]:after{background:url('/images/multiplier_image.png');background-size:175px 170px;background-position:27px 65px;}
input[type="checkbox"]:checked:after{background:url('/images/multiplier_image.png');background-size:175px 170px;background-position:27px 44px;}
input[type="radio"]{visibility:hidden;cursor:pointer;}
input[type="radio"]:after{visibility:visible;display:inline-block;content:"";width:20px;height:20px;cursor:pointer;background:url('/images/multiplier_image.png');background-size:200px 200px;background-position:128px 75px;margin:0px 0px 0px 5px;position:relative;top:-3px;left:-10px;}
input[type="radio"]:checked:after{background:url('/images/multiplier_image.png');background-size:200px 200px;background-position:108px 75px;}
#rg_block{width:400px;background:#FAFAFF;border-radius:6px;overflow:hidden;position:absolute;left:calc(50% - 200px);}
#rg_block[hg="u"]{height:490px;top:calc(50% - 245px);}
#rg_block[hg="uv"]{height:300px;text-align:center;top:calc(50% - 150px);}
#suv_h{width:340px;margin:0px;font-size:16px;font-weight:300;position:absolute;top:30px;left:30px;}
#rg_block[hg="i"]{height:350px;top:calc(50% - 175px);}
#rg_block a.sign_x{width:50%;text-align:center;font-size:28px;color:#0A0908;text-decoration:none;margin:0;padding:20px 0;position:absolute;top:0;}
#rg_block a.sign_x[s="y"]{background:transparent;}
#rg_block a.sign_x[s="n"]{background:#EAEAEA;}
#sign_x_in{left:0;}
#sign_x_up{left:50%;}
.ser{display:none;width:400px;height:40px;font-size:16px;padding:10px 20px;color:#FAFAFF;background:#D7263D;border:1px solid #FAFAFF;border-radius:6px;box-sizing:border-box;position:absolute;z-index:1;left:calc(50% - 200px);}
#suer{top:calc(50% - 300px);}
#sier{top:calc(50% - 230px);}
#rg_block input[type="email"],#rg_block input[type="password"]{width:340px;height:60px;box-sizing:border-box;font-size:20px;color:#444054;padding:0 20px 0 40px;background:#E6E6E6;border:1px solid #E6E6E6;border-radius:4px;position:absolute;left:30px;}
#siem{top:100px;}
#sipw{top:180px;}
#supwmin{width:calc(100% - 60px);margin:0px;font-size:9px;text-align:right;color:#444054;position:absolute;top:245px;left:30px;}
#suem{top:100px;}
#supw{top:180px;}
#supa{top:265px;}
#suua{width:345px;font-size:12px;color:#0A0908;line-height:1.3;margin:0;position:absolute;top:340px;left:30px;}
#suua a{color:#1446A0;text-decoration:underline;}
#suua a:active{color:#113A83;}
#sifp{width:calc(100% - 60px);margin:0;font-size:12px;text-align:right;text-decoration:none;color:#444054;position:absolute;top:247px;left:30px;}
.rgsb{width:calc(100% - 60px);height:50px;box-sizing:border-box;font-size:16px;font-weight:600;color:#FAFAFF;letter-spacing:1px;padding:0 20px 0 40px;background:#008148;border:none;border-radius:4px;position:absolute;left:30px;}
.rgsb:active{background:#006A3B;}
#rg_block[hg="u"] .rgsb{top:420px;}
#rg_block[hg="uv"] .rgsb{top:220px;}
#rg_block[hg="i"] .rgsb{top:280px;}
#Foot{width:100%;height:350px;background:#605F5E;position:absolute;top:800px;left:0;}
#Ft{width:calc(100% - 100px);position:absolute;top:20px;left:50px;}
#Ft tr th{text-align:left;font-size:16px;color:#EAEAEA;padding:10px 0;}
#Ft tr td{text-align:left;}
#Ft tr td a{color:#E2DADB;text-decoration:none;font-size:12px;padding:3px 0;}
#Foot hr{width:calc(100% - 60px);height:1px;border:none;background:#E2DADB;position:absolute;bottom:60px;left:30px;}
#FPu{width:calc(100% - 100px);color:#E2DADB;padding:0;margin:0;font-size:16px;position:absolute;bottom:20px;left:50px;}
#FPu select{display:inline-block;font-size:14px;color:#EAEAEA;padding:6px 25px 6px 3px;margin:0 5px;background:transparent;border-top:none;border-bottom:1px solid #E2E2E2;border-left:none;border-right:none;}
#FLo,#FNo{display:inline-block;width:12px;height:12px;background-image:url("/static/multiplier_image.png");background-size:200px 200px;background-position:83px 78px;pointer-events:none;position:relative;top:2px;left:-22px;}
#FPUc{text-align:right;margin:10px 0;font-size:14px;text-decoration:none;color:#E2DADB;float:right;}
@media only screen and (max-width:700px){
    body::before{height:600px;}
    #Hdr{height:500px;}
    #Hm{display:none;width:100%;height:100%;background:white;padding:40px 0px;box-sizing:border-box;position:fixed;z-index:100;top:0px;left:0px;}
    #Hm li{display:block;padding:15px 0px;text-align:center;}
    #Hm li a{font-size:24px;color:#605F5E;padding:inherit;}
    #Hm li a b{padding:0px;border:none;color:#04151F;}
    #M_H{display:block;}
    #M_H_close{display:block;}
    #HMs a{width:calc(100% - 60px);height:50px;float:unset;color:#FAFAFF !important;padding:10px 0px !important;background:#008148;border:none;border-radius:4px;box-sizing:border-box;position:absolute;bottom:30px;left:30px;}
    #rg_block{width:calc(100% - 40px);left:20px;}
    #rg_block[hg="i"]{height:330px;top:calc(50% - 165px);}
    #rg_block[hg="u"]{height:470px;top:calc(50% - 235px);}
    #rg_block a.sign_x{font-size:24px;padding:15px 0px;}
    #rg_block input[type="email"], #rg_block input[type="password"]{width:calc(100% - 30px);padding:0 15px 0 25px;left:15px;}
    #sifp{width:calc(100% - 30px);top:227px;left:15px;}
    #supwmin{width:calc(100% - 30px);top:225px;left:15px;}
    #suua{width:calc(100% - 30px);top:320px;left:15px;}
    .rgsb{width:calc(100% - 30px);left:15px;}
    #rg_block[hg="i"] .rgsb{top:260px;}
    #rg_block[hg="u"] .rgsb{top:400px;}
    #siem,#suem{top:80px;}
    #sipw,#supw{top:160px;}
    #supa{top:245px;}
    #suv_h{width:300px;left:10px;}
    #Foot{height:340px;top:600px;}
    #Ft{width:calc(100% - 60px);left:30px;}
    #Ft tr th{font-size:14px;padding:5px 0px;}
    #Ft tr td a{font-size:9px;}
    #Foot hr{width:calc(100% - 40px);bottom:70px;left:20px;}
    #FPu{width:calc(100% - 40px);bottom:0px;left:20px;}
    #FPu select{font-size:9px;padding:6px 20px 6px 2px;margin:0px;}
    #FLo,#FNo{left:-15px;}
    #FPUc{font-size:9px;margin:15px 0px;}
}