<!DOCTYPE html><html>
<head>
    <link rel="stylesheet" href="/static/legal.css">
    <title>FRANZAR&trade; Official Site | Report A Counterfeit</title>
    <% Head %>
</head>
<body>
<script>wlhrf=window.location.href;whrswlh=wlhrf.substring(0, wlhrf.indexOf("?"));window.history.replaceState(null,null,whrswlh);</script>
<div id="M_H"><button onclick="M_menu_show()"></button></div>
<ul id="Hm">
    <% HeaderLI %>
</ul>
<div id="RC">
    <h3>What's A Counterfeit Product?</h3>
    <p>A counterfeit product is a purposeful immitation of name-brand merchandise which intends to cause confusion among consumers. The production and sale of counterfeit products is a criminal offense.</p>
    <h3>What about knock-off products?</h3>
    <p>Counterfeit products are different from knock-off products by branding and intention. Knock-off products are marketed with the intent of reminding customers of a name-brand rather than directly immitating one. Because knock-off brands are a parody rather than immitation and do not intend to cause confusion among customers, they are usually not breaking the law in this reguard. Counterfeit products intentionally immitate name-brand products in order to confuse customers into purchasing products which they believe are being sold by the name-brand company when in reality the brand has no involvement in the sale or production of the product.</p>
    <h3>Why Should I Care?</h3>
    <p>Product counterfeiting is a criminal offense punishable by large fines and long prison sentences. The reprecussions are made so serious because counterfeit products are extremely damaging to brands and are often dangerous for consumers. The production of counterfeit products is completely unregulated without professional oversight because they are produced illegally. The producers of these counterfeits will often use chemicals and production methods which are cheaper. These shortcuts are generally unsafe for consumers since professionals and government officials are not involved in the manufacturing of the product. In severe cases, this may result to unintentional consequences for the consumer, such as heavy metal exposure, poisoning, chemical burns, severe injury, organ damage, and in rare cases death. They are also not built to high standards and therefore won't stand long term use.</p>
    <h3>How Do I Know If It's A Counterfeit?</h3>
    <p>We currently do not sell our products anywhere except for this website and we do not sell our products to third parties, so you should be skeptical of any products sold elsewhere claiming to be new. This doesn't automatically make the product in question fake or even a counterfeit, but it is better to avoid the risk. If you believe you have found a counterfeit, please immediately <a href="/contact/" target="_blank">contact us by clicking here</a> with information about where you found it sold (preferrably a link/URL) and why you believe it is a counterfeit. Upon recieving your message, we will begin an immediate investigation.</p>
    <h3>What Happens After I Report A Counterfeit?</h3>
    <p>As stated above, we will begin an immediate investigation. We will start by trying to track down any records that might suggest this is a legitimate product that has been either resold by a former customer or is being legally sold and has been mistaken as a counterfeit. If the entry is found to be a counterfeit, we will immediately report it to the United States Federal Bureau of Invesigation (FBI) and will reach out to any vendors selling this counterfeit demanding them to take it down. Vendors that refuse to take down counterfeit products may also face serious legal recourse. We do not take counterfeiting lightly, and we will seek out all damages and legal reprecussions against perpretraitors for hurting our brand and endangering consumers.</p>
</div>
<script>
Hm=document.getElementById("Hm");
function M_menu_show(){Hm.style.display="block";}
function M_menu_hide(){Hm.style.display="none";}
</script>
<style>#Foot{top:1500px;}</style>
<% Footer %>
</body></html>
