<!DOCTYPE html><html>
<head>
    <link rel="stylesheet" href="/static/home.css">
    <title>FRANZAR&trade; Official Site</title>
    <% Head %>
</head>
<body>
<script>wlhrf=window.location.href;whrswlh=wlhrf.substring(0, wlhrf.indexOf("?"));window.history.replaceState(null,null,whrswlh);</script>
<div id="M_H"><button onclick="M_menu_show()"></button></div>
<ul id="Hm">
    <% HeaderLI %>
</ul>
<header id="Hdr">
    <h1>FRANZAR</h1>
    <h2>Custom tailored clothes made affordable.</h2>
    <a href="/about_us/" id="HdrLk">About Us</a>
</header>
<div id="BPSt"><button id="BPSf" onclick="OFm()" title="Filter Results">Filter</button></div>
<form id="BPSo" action="" method="POST">
    <h1>Filter Results</h1>
    <p class="BPFd">
        Style:<br>
        <select name="stl">
            <option>Any</option>
            <option>Ankara</option>
            <option>Artsy</option>
            <option>Athleisure</option>
            <option>Athletic</option>
            <option>Bohemian</option>
            <option>Business Casual</option>
            <option>Camp</option>
            <option>Casual</option>
            <option>Chave</option>
            <option>Chic</option>
            <option>Cowhand</option>
            <option>Flapper</option>
            <option>Formal</option>
            <option>Garconne</option>
            <option>Gothic</option>
            <option>Grunge</option>
            <option>Haute Couture</option>
            <option>Hip Hop</option>
            <option>Kawaii</option>
            <option>Lagenlook</option>
            <option>Lolita</option>
            <option>Military</option>
            <option>Preppy</option>
            <option>Punk</option>
            <option>Retro</option>
            <option>Romp</option>
            <option>Sultry</option>
            <option>Wedding</option>
        </select><span class="DDoB_B"></span>
    </p>
    <p class="BPFc"><input type="checkbox" v="y" name="pkts"> Has Real Pockets</p>
    <p class="BPFc"><input type="checkbox" v="y" name="dsct"> On Sale</p>
    <p class="BPFd">
        Made In:<br>
        <select name="mdn">
            <option>Any</option>
            <option>United States</option>
        </select><span class="DDoB_B"></span>
    </p>
    <input type="submit" value="SHOW 1 RESULT" id="BPS_S">
</form>
<center id="BPa">
    <% Products %>
</center>
<% Footer %>
<script>
if (Number(window.innerWidth)>=700){BPAt=700;}else{BPAt=500;}
document.getElementById("Foot").style.top=(Number(document.getElementById("BPa").offsetHeight)+BPAt)+"px";
function OFm(){document.getElementById("BPSo").style.display="block";}
</script>
</body></html>
